* {
    padding: 0px;
    margin: 0px;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.body {
    font-family: 'Caveat';
}

button {
    font-family: 'Caveat';
    border-radius: 60px;
    padding: 16px 28px 16px 28px;
    font-size: 24px;
    margin-right: 16px;
    margin-bottom: 32px;
}

.task {
    padding-top: 60px;
    font-size: 32px;
    font-weight: 500;
}

.subtitle {
    padding-top: 32px ;
    font-size: 32px;
    font-weight: 500;
}

.heading {
    padding-top: 32px ;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 32px;
}

.descript {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 32px;
}

.nodescription {
    font-size: 32px;
    font-weight: 500;
}

.description {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 32px;
}

.content {
    font-size: 32px;
    font-weight: 500;
}